
body {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}


.headforall {
	display: flex;
	justify-content: space-between;
	background-color: #ffffdd;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.dropdown {
	display: none;
}

.socialmedia {
	display: flex;
	align-items: row;
}

.socialmedia a{
	width: 100%;
	height: auto;
	margin-right: -70px;
}

.socialmedia img{
	display: block;
	width: 30%;
	}

.socialmedia img:hover{
	animation: bounceAround 0.5s ease-in-out;
}

.headtitle{
	margin-top: 20px;
}


.navheader{
	margin-top: 20px;
	display: flex;
	align-items: center;
	top: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

li {
	display: inline-block;
}

li a {
    display: block;
    padding: 10px;
    color: black;
}

li a:hover{
	color: red;
}

.subheader {
	background-image: url("../Main_America&Africa/images/<achuPicchu.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_America&Africa/images/Peru.jpg");
	background-image: webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_America&Africa/images/Peru.jpg");
	background: moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_America&Africa/images/Peru.jpg");
	background-repeat: no-repeat;
	background-position: center bottom; 
	background-size: cover;
	background-attachment: fixed;
	max-width: 100%; 
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 6rem;
	color: white;
	text-align: center;
	font-family: 'Pacifico', cursive;
}


.CityList {
	display: flex;
	justify-content: space-around;
	align-items: row;
	flex-wrap: wrap;
	margin-bottom: 60px;
}


.col-4{
	width: 30%;
	height: auto;
	margin: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-4 img{
	max-width: 100%;
	height: auto;
	display: block;
	position: relative;
	opacity: 0.5;
	transition: opacity 0.3s;
}

.col-4 img:hover{
	opacity: 1;
}


p {
	font-size: 2.5rem;
	color: black;
	padding: 10px;
	font-family: 'Pacifico', cursive;
	position: absolute;
	text-align: center;
	line-height: 90%;
}

p span {
	font-size: 1.5rem;
}

.row-reverse{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0px 20px;
}

footer{
	text-align: center;
	background-color: #f7f8f9;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
}

@keyframes bounceAround {
  0% {transform:translateY(0px);}
  50%{transform:translateY(10px);}
  100%{transform:translateY(0px);}
}




@media (max-width: 860px) {
	p{
		font-size: 2rem;
	}

	p span {
		font-size: 1rem;
	}

@media (max-width: 750px) {
.entiresitehead, .headtitle, .navheader{
	display: none;
}
/*Testing dropdown menu function*/
.menuIcon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 5px;
}
.dropbtn {
 	background-color: #ffffdd;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4EADF6;
}
.menuIcon:hover {
    background-color: black;
}

h1{
	font-size: 4rem;
}

.subheader {
/*	background-image: url("../Main_Europe/images/Oilseeds_Germany.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_Europe/images/Oilseeds_Germany.jpg");
	background-image: webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_Europe/images/Oilseeds_Germany.jpg");
	background: moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Main_Europe/images/Oilseeds_Germany.jpg");*/
	height: 500px;
	background-attachment: scroll;
}

.col-4{
	width: 48%;
}

@media (max-width: 460px) {
body {
	font-size: 10px;
}
h1{
	font-size: 2rem;
}
.subheader {
/*	background-image: url("../Europe/images/Oilseeds_Germany.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Europe/images/Oilseeds_Germany.jpg");
	background-image: webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Europe/images/Oilseeds_Germany.jpg");
	background: moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Europe/images/Oilseeds_Germany.jpg");*/
	height: 300px;
}

p{
	font-size: 1.5rem;
}

p span {
	font-size: 0.8rem;
}

}
